html {
    margin: 0;
    padding-bottom: 0;
    background-color: silver;
    background-position: bottom 10%;
    font-family: 'Rubik', sans-serif;
    background-image: url(/cardBac); 
    background-size: cover;
}



label {
    display : inline;
    padding-right : 4px;
    white-space: nowrap;
    text-align: left;
    margin-bottom: 10px;

}

input {
    margin-top : 4px;
    width: 50%;
    margin-bottom: 10px;
}

#cardDesign {
    margin: 0 auto;
    width: 10%;
    position: relative;
    top: 0;
    left: 0;
    
}
#cardImage {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
    height: 100%;
    border-radius: 100%;
    z-index: 0;
}
#blankCardBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
}
#blankCard {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

#minionText {
    position: relative;
    top: 170px;
    left: 15%;
    width: 74%;
    font-size: 12px; 
    font-size: 1vw;
    z-index: 1;
}

#attackText {
    position: relative;
    top: 130px;
    left: -35%;
    font-weight: bold;
    font-size: 100%;
    z-index: 1;
}

#healthText {
    position: relative;
    top: 100px;
    left: 38%;
    font-weight: bold;
    font-size: 100%;
    z-index: 1;
}

#manaText {
    position: relative;
    top: -8px;
    left: -36%;
    font-weight: bold;
    z-index: 1;
}

#cardGen {
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    border-radius: 5px;
    padding: 10px; 
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    color: darkorange;
}


.info {
    text-align: center;
    margin: 0 auto;
    color: aliceblue;
    font-size: 16px;
}

.input {
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    padding: 10px; 
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
}

.gameName {
    text-align: center;
    margin: 0 auto;
    width: 40%;
}

#createCard {
    background-color: orange;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
}

#send {
    background-color: orange;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
}

#content {
    margin-top: 100px;
    font-size: 2em;
    text-align: center;
}